* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-position: center;
  background: #000;
  background-size: cover;
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80');
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  &:hover {
    color: orange;
  }
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  scale: 0;
  opacity: 0;
  position: relative;
  animation: logo 2s ease forwards;
}



@keyframes logo {

  to {
    scale: 1;
    opacity: 1;
  }
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 20px;
  font-size: .8rem;
  font-weight: bold;
  cursor: pointer;
  transition: .3s ease;
  &:hover {
    scale: 1.05;
    color: #fff;
  }
  &:active {
    scale: .95;
  }
}

.toggle_btn i {
  transition: .4s;
  font-size: 1.5rem;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .3s ;
  & li {
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .action_btn { 
    width: 100%;
    display: flex;
    justify-content: center;
  }
}


.dropdown_menu.open {
  height: 240px;
}


section#hero {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  display: block;
  transform: translateY(-1500px);
  animation:  move 1s forwards ease-in-out;
  animation-delay: .4s;
}

#hero p {
  text-transform: capitalize;
  transform: translate(-2000px);
  animation:  move 1s forwards ease;
  animation-delay: 1s;
}
span {
  color: orange;
  position: relative;
  transform: translateY(150px);
  font-size: 1.3rem;
  animation:  move 1s forwards;
}



@media (max-width: 992px) {
  .navbar .links, 
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}


@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}


@keyframes move {
  to {
    transform: translateY(0px);
  }
}
